<?xml version="1.0" ?>
<robot name="gripper_beam_1C_90deg_3mm">

    <!-- Import Rviz colors -->
    <material name="Grey">
        <color rgba="0.2 0.2 0.2 1."/>
    </material>
    <material name="Orange">
        <color rgba="1.0 0.423529411765 0.0392156862745 0.5"/>
    </material>
    <material name="Blue">
        <color rgba="0.5 0.7 1.0 0.5"/>
    </material>
    <material name="beam_color">
        <color rgba="0.72 0.60 0.30 1.0"/>
    </material>


    <!-- Joint from Base to FT-Sensor Below -->
    <joint name="joint_ft" type="fixed">
        <parent link="base"/>
        <child link="ft_sensor"/>
        <origin rpy="0 0 0 " xyz="0.0 0.0 0.0"/>
        <dynamics damping="0.5"/>
    </joint>

    <!-- Joint from FT-Sensor to Gripper-Beam Below -->
    <joint name="joint_gripper" type="fixed">
        <parent link="ft_sensor"/>
        <child link="gripper_beam_1C_90deg_3mm"/>
        <origin rpy="0 0 0 " xyz="0.0 0.0 0.0"/>
        <dynamics damping="0.5"/>
    </joint>

    <!-- Joint from Gripper-Beam to Virtual Member Below -->
    <joint name="joint_member" type="fixed">
        <parent link="gripper_beam_1C_90deg_3mm"/>
        <child link="member"/>
        <!-- Offset 40 mm (beam half-depth) + 155 mm (beam offset from world origin)-->
        <origin rpy="0 0 0 " xyz="0.0 0.0 -0.195"/>
        <dynamics damping="0.5"/>
    </joint>


    <!-- Virtual Base Link -->
    <link name="base">
      <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0.001"/>
          <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>

    <!-- Virtual Member Link to Computer Distance to Target -->
    <link name="member">
      <inertial>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="0.01"/>
          <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
    </link>

    <!-- FT-Sensor Link -->
    <link name="ft_sensor">
    <inertial>
          <mass value="1.964"/>
          <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
        <material name="Blue"/>
        <geometry>
          <mesh filename="sensor/meshes/visual/ft_sensor.stl"/>
        </geometry>
    </visual>
    <collision>
        <geometry>
          <mesh filename="sensor/meshes/collision/ft_sensor.stl"/>
        </geometry>
    </collision>
    </link>

    <!-- EF Link -->
    <link name="gripper_beam_1C_90deg_3mm">
        <inertial>
            <!--center of mass origin and mass should was updated from ABB's calibration routine 20.02.2019-->
            <origin rpy="0 0 0" xyz="0.0 0.0 0.09963736"/>
            <mass value="8.56"/>
            <!--origin rpy="0 0 0" xyz="-8.173542509136381e-19 4.919694157880184e-18 -0.12804086440536944"/-->
            <!--mass value="4.310275841129159"/-->
            <!--inertia ixx="0.0009413956070068256" ixy="7.905640841040137e-22" ixz="-4.517509052022935e-22" iyy="5.320772089153263e-05" iyz="-8.608675500661352e-21" izz="0.0008984210008906098"/-->
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/visual/gripper_beam_1C_90deg_3mm.stl"/>
            </geometry>
            <material name="Grey"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_0.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_1.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_10.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_11.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_12.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_13.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_14.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_15.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_16.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_17.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_18.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_19.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_2.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_20.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_21.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_22.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_23.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_24.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_3.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_4.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_5.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_6.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_7.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_8.stl"/>
            </geometry>
        </collision>
        <collision>
            <geometry>
                <mesh filename="gripper_beam_1C_90deg_3mm/meshes/collision/gripper_beam_1C_90deg_3mm_9.stl"/>
            </geometry>
        </collision>
    </link>
</robot>
